<nav class="navbar navbar-default" role="navigation" itemscope itemtype="http://data-vocabulary.org/Person">
    <meta itemprop="url" content="{{ site.baseurl }}" />
    <meta itemprop="title" content="{{ site.job_title }}" />
    <meta itemprop="affiliation" content="{{ site.employer }}" />
    <meta itemprop="photo" content="http://www.gravatar.com/avatar/{{ site.gravatar_id }}.png" />
    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
        <meta itemprop="locality" content="{{ site.location.city }}" />
        <meta itemprop="region" content="{{ site.location.state }}" />
        <meta itemprop="country-name" content="{{ site.location.country }}" />
    </span>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>    
        <div>
        <a class="navbar-brand" itemprop="name" href="{{ site.baseurl }}/">{{ site.name }}</a>
        </div>
    </div>
    <div class='navbar-collapse collapse'>
        <!--p class='navbar-text'>{{ site.description }}</p-->
        <ul class="nav navbar-nav navbar-right" >
            <li>
                <a href="{{ site.baseurl }}/assets/Dave_Eargle_Vitae.pdf">Vita</a>
            </li>
            <li id="research"{% if page.url == "/research/"%} class="active"{% endif %}>
                <a href="https://scholar.google.com/citations?user=Nw7ibigAAAAJ&hl=en">Research</a>
            </li>
            <!--li id="portfolio"{% if page.url == "/portfolio/"%} class="active"{% endif %}>
                <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
            </li-->
            <li id="blog"{% if page.url == "/blog/"%} class="active"{% endif %}>
                <a href="{{ url_base }}/blog/">Blog</a>
            </li>
            <li id="class"{% if page.url == "/class/"%} class="active"{% endif %}>
                <a href="{{ url_base }}/class/">Class</a>
            </li>
            <li id="about"{% if page.url == "/about/"%} class="active"{% endif %}>
                <a href="{{ site.baseurl }}/about/" rel="author">About</a>
            </li>
            <li id="contact"{% if page.url == "/contact/"%} class="active"{% endif %}>
                <a href="{{ site.baseurl }}/contact/">Contact</a>
            </li>
        </ul>
    </div>
</nav><!-- navbar -->
