{% if page.vms %}

<h1>Required Virtual Machines</h1>

<p>See <a href='/security-assignments/virtual-machines/#setting-up-virtualbox-and-the-infoset-net-network'>here</a> for instructions on setting up virtualbox for this class.</p>

<div class='alert alert-info'><strong>Heads up!</strong> Be sure that you have created the <code>infosec-net</code> virtualbox network, as specified at the top of the above link, <i>before</i> importing the vm! It's not the end of the world if you don't, but it does require some extra work.</div>

<p>This lab uses the following <a href='/security-assignments/virtual-machines/#the-virtual-machines'>vms:</a></p>
<ul>
{% for vm in page.vms %}
    <li>{{ vm }}</li>
{% endfor %}
</ul>
{% endif %}
