$syllabus-font-size-base:          14px !default;
$syllabus-font-size-large:         ceil(($syllabus-font-size-base * 1.25)) !default; // ~18px
$syllabus-font-size-small:         ceil(($syllabus-font-size-base * 0.85)) !default; // ~12px

$syllabus-font-size-h1:            floor(($syllabus-font-size-base * 2.6)) !default; // ~36px
$syllabus-font-size-h2:            floor(($syllabus-font-size-base * 2.15)) !default; // ~30px
$syllabus-font-size-h3:            ceil(($syllabus-font-size-base * 1.7)) !default; // ~24px
$syllabus-font-size-h4:            ceil(($syllabus-font-size-base * 1.25)) !default; // ~18px
$syllabus-font-size-h5:            $syllabus-font-size-base !default;
$syllabus-font-size-h6:            ceil(($syllabus-font-size-base * 0.85)) !default; // ~12px

.syllabus, .tony-assignment, .assignment {
    h1, .h1 { font-size: $syllabus-font-size-h1; border-bottom: 1px solid #ccc; }
    h2, .h2 { font-size: $syllabus-font-size-h2; }
    h3, .h3 { font-size: $syllabus-font-size-h3; }
    h4, .h4 { font-size: $syllabus-font-size-h4; }
    h5, .h5 { font-size: $syllabus-font-size-h5; }
    h6, .h6 { font-size: $syllabus-font-size-h6; }
}

.syllabus {
    table {
        @extend .table;
    }
    h1.title {
        font-size: ($syllabus-font-size-h1 * 1.25);
		border-bottom: none;
    }    
    
    tbody > tr.border-bottom > td {
        border-bottom: 1px solid black !important;
    }
}

.assignment, .tony-assignment {
	h1.title {
		font-size: ($syllabus-font-size-h1 * 1.25);
		border-bottom: none;
	}
}
