---
---
body { padding-top: 20px; font-weight: 200; }
@media (max-width: 768px) {
    body { padding-top: 0; }
}

/* Contact social icons */
#contact-links { padding: 10px 0 15px; }
.center { text-align: center }
.pgp-key { font-size: 85%; }

/* images */
.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; text-align: center; }
.alignleft { display: block; float:left; padding-right: 15px; padding-bottom: 5px; }
.alignright { display: block; float: right; padding-left: 15px; padding-bottom: 5px; }
@media (max-width: 550px) {
    .alignleft, .alignright { float: none; clear: both; margin-left: auto; margin-right: auto; }
}

/* Footnotes */
.footnotes { font-size: .9em; }
.footnotes ol { padding-left: 20px; }
.footnotes a[rev="footnote"] {float: right; margin-top: -2em; display: none; }
.footnotes ol li:hover a[rev="footnote"] { display: block }
.home .footnotes { display:none }

/* Posts */
.post-meta { margin: 0 0 20px 0; font-style: italic; font-size: 0.9em;}
.home article { margin-bottom: 25px; }
.post-contact p { text-align: center; margin: 30px 0; }
.revision-history, .revision-history:visited { color: #aaa;}

/* Footer */
.footer { border-top: 1px solid #eee; margin-top: 20px; }
.fine-print { float: right; padding: 25px; }
.fine-print a, .fine-print a:visited { color: #ccc; }
.fine-print i a:hover { color: #23527c; }

/* Disqus */
.disqus { border-top: 1px dotted rgba(0, 0, 0, 0.2); margin-top: 20px; }
#disqus_thread { margin-top: 20px; }

/* Forking */
.improve-article { margin-top: 7.5px; font-size: 14px; font-style: italic; }
.improve-article-wrapper { padding-top: 20px; border-top: 1px dotted rgba(0, 0, 0, 0.2); text-align: center; }
.mini-bio { padding-top: 20px; padding-bottom: 20px; border-top: 1px dotted rgba(0, 0, 0, 0.2); }
.mini-bio img { padding-top: 5px; }

/* Index */
.posts { list-style: none; padding-left: 0; font-size: 1.1em;}
.posts li { margin-bottom: 10px; }
.posts li .date { font-size: 0.8em; color: #bbb; text-align: right; }
@media (max-width: 768px) {
    .posts li .date {text-align: left;}
}
#title-enormous {
    padding-bottom: 30px;
    padding-top: 30px;
    h1 {
        font-family: Georgia,'Times New Roman',times,serif;
        font-weight: bold;
        margin-top: 0px;
    }
}
#frontpage .email-wrapper {
    font-size: 1.2em;
    padding-bottom: 13px;
}

@media (max-width: 768px) {
    .hero-unit {display: none;}
}

/* resume */
.page .date {float: right; margin-top: -2em; font-style: italic;}
@media (max-width: 768px) {
.page  .date {float: none; margin-top: 0; }
}

#clips {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

#clips li {
  margin-bottom: 15px;
}

.anchorjs-link:link    { color: #337ab7; }
.anchorjs-link:visited { color: #337ab7; }
.anchorjs-link:hover   { color: #23527c; }
.anchorjs-link:active  { color: #23527c; }

.gist-it-gist .gist-file .gist-data, .gist .gist-meta { background: #fcfcff !important; }
.gist .pl-c { color: #757775 !important; }
.gist .pl-c1 { color: #007faa !important; }

#zen { font-size: 8px; padding: 20px 0px; }

@import "svg-icons";

	
dt {
    margin-top: 5px;
}

.bottom-divider {
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: -1px;*/
    padding-top: 6px;
    padding-bottom: 6px;
}

img {
    max-width: 100%;
}


/* bootstrap-toc */

nav[data-toggle="toc"] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}